<div class="conteneur">
<h2 mat-dialog-title>Réserver pour {{ data.localId }}</h2>

  <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()" class="form-container">

    <mat-form-field appearance="outline" >
      <mat-label>Date de début</mat-label>
      <input matInput [matDatepicker]="startPicker" formControlName="startDate">
      <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Date de fin</mat-label>
      <input matInput [matDatepicker]="endPicker" formControlName="endDate">
      <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
      <mat-datepicker #endPicker></mat-datepicker>
    </mat-form-field>
  </form>
</div>

<div class="param-button">
  <button (click)="onClose()">Annuler</button>
  <button (click)="onSubmit()">Réserver</button>
</div>
