<div *ngIf="authService.isLoggedIn(); else notLoggedIn">
    <h2>Bienvenue, {{ authService.getUserEmail() }} !</h2>

    <div *ngIf="authService.isLoggedIn(); else notLoggedIn">
        <h2>Bienvenue, {{ authService.getUserEmail() }} !</h2>
        <button mat-raised-button color="warn" (click)="logout()">Se déconnecter</button>
    
        <!-- Conteneur de la carte -->
        <mat-card>
            <mat-card-title>Événements Locaux</mat-card-title>
            <mat-card-content>
              <google-map
                [height]="'500px'"
                [width]="'100%'"
                [options]="mapOptions">
                
                <map-marker *ngFor="let event of events"
                            [position]="{ lat: event.lat, lng: event.lng }"
                            [title]="event.name">
                </map-marker>
              </google-map>
            </mat-card-content>
        </mat-card>
    </div>
    
    <ng-template #notLoggedIn>
      <div class="auth-container">
        <div class="toggle-buttons">
          <button mat-stroked-button color="primary" (click)="toggleAuthForm()">
            {{ isLogin ? 'Créer un compte' : 'Se connecter' }}
          </button>
        </div>
    
        <div class="auth-form">
          <app-login *ngIf="isLogin"></app-login>
          <app-signup *ngIf="!isLogin"></app-signup>
        </div>
      </div>
    </ng-template>
    

    <button mat-raised-button color="warn" (click)="logout()">Se déconnecter</button>

    
</div>

<ng-template #notLoggedIn>
  <div class="auth-container">
    <div class="toggle-buttons">
      <button mat-stroked-button color="primary" (click)="toggleAuthForm()">
        {{ isLogin ? 'Créer un compte' : 'Se connecter' }}
      </button>
    </div>

    <div class="auth-form">
      <app-login *ngIf="isLogin"></app-login>
      <app-signup *ngIf="!isLogin"></app-signup>
    </div>
  </div>
</ng-template>
