<div *ngIf="authService.isLoggedIn() | async; else notLoggedIn">
  <h2 class="welcome-message">Bienvenue, {{ authService.getUserEmail() | async}} !</h2>
  <hr class="underline">
  <app-menu (ajouterEvenementClicked)="toggleAjouterEvenement()"></app-menu>

  <!-- Formulaire Ajouter Evenement : s'affiche si `showAjouterEvenement` est vrai -->
  <div *ngIf="showAjouterEvenement">
    <app-ajouter-evenement (evenementAjoute)="onEvenementAjoute($event)"></app-ajouter-evenement>
  </div>

  <div id="map" style="height: 500px;"></div>



  <ng-template #notLoggedIn>
    <div class="auth-container">
      <div class="toggle-buttons">
        <button mat-stroked-button color="primary" (click)="toggleAuthForm()">
          {{ isLogin ? 'Créer un compte' : 'Se connecter' }}
        </button>
      </div>

      <div class="auth-form">
        <app-login *ngIf="isLogin"></app-login>
        <app-signup *ngIf="!isLogin"></app-signup>
      </div>
    </div>
  </ng-template>


  <button id="deconnexion" mat-raised-button (click)="logout()">Se déconnecter</button>


</div>

<ng-template #notLoggedIn>
  <div class="auth-container">
    <div class="toggle-buttons">
      <button mat-stroked-button color="primary" (click)="toggleAuthForm()">
        {{ isLogin ? 'Créer un compte' : 'Se connecter' }}
      </button>
    </div>



    <div class="auth-form">
      <app-login *ngIf="isLogin"></app-login>
      <app-signup *ngIf="!isLogin"></app-signup>
    </div>
  </div>
</ng-template>