<div class="shop-details">
    <img *ngIf="data.photoUrl" [src]="data.photoUrl" alt="{{ data.name }}" class="shop-photo" />
    <h2>{{ data.name }}</h2>
    <p>Évaluation : <strong>{{ data.rating | number: '1.1-1' }}</strong> ★ ({{ data.reviewsCount }} avis)</p>
    <p><strong>Type :</strong> {{ data.type }}</p>
    <p><strong>Adresse :</strong> {{ data.address }}</p>
    <p><strong>Téléphone :</strong> {{ data.phoneNumber }}</p>
    <p><strong>Email :</strong> {{ data.email }}</p>
  
    <div class="actions">
      <a [href]="'https://www.google.com/maps/dir/?api=1&destination=' + data.lat + ',' + data.long" target="_blank">
        <button mat-button>Itinéraires</button>
      </a>
      <button mat-button (click)="partager()">Partager</button>
      <button mat-button>Commander</button>

    </div>
    
  
    <button mat-button (click)="onClose()">Fermer</button>
  </div>

 
  
  